# dir
build/
bin/*

# Gen
/.cproject
/.project
/.settings/

# elf
*.elf
*.out
*.bin

# txt
expr.txt

# Vscode
.vscode/

# lib
*.o
*.d
*.o.d
*.a
*.so
*~

# MacOS Cache
.DS_Store

# test
tests/*_tests

# test log
tests/tests.log


